.body {
  max-width: 100%;
  overflow-x: hidden;
}
.navigation {
  background: black;
  color: white;
}
.image {
  justify-content: flex-start;
  display: flex;
}
.wow {
  justify-content: flex-end;
  display: flex;
  gap: 50px;
  padding-right: 20px;
}

.one {
  padding: 150px;
  background: black;
  color: white;
  height: 100%;
  display: flex;
  gap: 500px;
}

#title{
  text-align: center;
  background: white;
  padding-top: 20px;
  margin: 0%;
}
.two{
  padding: 100px;
  background: white;
  display: flex;
  flex-direction: row;
  gap: 50px;
  justify-content: center;
}

.three {
  padding: 100px;
  padding-right: 150px;
  padding-left: 150px;
  background: rgb(233, 214, 207);
  font-size: 20px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.four {
  color: white;
  margin: 100px;
  padding: 20px;
  background: orangered;
  border: 5px solid orangered;
  border-radius: 10px;
  text-align: left;
}

.footer {
  padding: 10px;
  background: black;
  color: white;
  text-align: center;
  font-size: smaller;
}
