.flex-container {
  padding: 30px;
  text-align: center;
  margin: 100px;
}

.one {
  background: pink;
}

.two {
  background: rgb(161, 123, 130);
}

.three {
  background: rgb(223, 103, 123);
  color: white;
  font-size: 20px;
}

.four {
  background: rgb(192, 52, 78);
}

.footer{
  background: rgb(194, 97, 113);
  color: white;
  font-size: 10px;
}