.body {
  max-width: 100%;
  overflow-x: hidden;
}

.one {
  padding: 150px;
  background: rgb(250, 196, 223);
  height: 100%;
}

.two {
  padding: 100px;
  background: rgb(248, 142, 195);
  text-align: center;



.three {
  padding: 100px;
  padding-right: 150px;
  padding-left: 150px;
  background: rgb(243, 106, 174);
  font-size: 20px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.four {
  color: white;
  margin: 100px;
  padding: 20px;
  background: hotpink;
  border: 5px solid hotpink;
  border-radius: 10px;
  text-align: left;
}

.footer {
  padding: 10px;
  background: rgb(233, 18, 125);
  color: white;
  text-align: center;
  font-size: smaller;
}